.bg-color {
    background: #87b4dd;
    padding-bottom: 35%;
}
.state {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    padding: 1% 0;
    border-left: 10px solid #7fbe64;
    border-right: 10px solid #7fbe64;
    border-radius: 0px 131px 0px 131px;


    }
.state input {
    margin:auto;
    margin-top: 10px;
    width: 80%;
    border: 1px solid black;
    padding: 5px 7px;
    border-radius: 7px;
    transition: all .2s;
    
}
.state input:focus,.state input:active {
    outline: none;
    width: 90%;
    border:2px solid black;
}
form {
    padding: 2% 8%;
    background-color: white;
    box-shadow: 0 0 13px 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    /* border-radius: 0px 131px 0px 131px; */
    border:2px solid #00203d;
    width: 50%;

}
form h1 {   
    color:#00203d;
}

.showData {
align-self: center;
margin: auto;
margin-top: 6%;
border-radius: 6px;
width: 65%;
border-radius: 0px 131px 0px 131px;
background-color: white;
padding: 2% 8%;
text-align: center;
border-left: 12px solid #7fbe64;
border-right: 12px solid #7fbe64;
box-shadow: 0 0 13px 0;
animation: opo infinite  ;
animation-delay: 8s; 
}
@keyframes opo {
    0% {
        transform: translateX(-200px);
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.6
    }
    75% {
        opacity: 0.8;

    }100% {
        transform: translateX(0px);
    }
}
.showData p {
    text-align: left;
}
.showData .span_1 {
    /* border-bottom: 2px solid green; */
    padding: 4px 0;
    color: #1b344d;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 4px;


}
.showData .span_2{
    /* border-bottom: 2px solid red; */
    margin-left: 10px;
    padding: 4px 0;
    color: #7fbe64;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 4px;
}
.showData img {
    width: 25%;
    animation: opo infinite; 
}
.buttons {
    display: flex;
    justify-content: space-evenly;
}
form button {
    margin: auto;
    color: black;
        padding: 5px 26px;
    width: 50%;
    margin-top: 10px;
    display: block;
    font-weight: 500;
    background-color: white;
    border: 2px solid black;
    transition: all .2s;
    letter-spacing: 0px;
}
form button:active {
    transform: scale(1.1);
    letter-spacing: 5px;
    background-color: #00203d;
}
form img {
    width: 50%;
    margin: auto;
    /* height: 20%; */
    animation: move 2s infinite;
    backface-visibility: hidden;
    animation-delay: 5s;

}
/* form:hover img {
    animation: move 2s;
} */
@keyframes move {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
